{% extends "base.html" %}

{% block content %}


    <br/>
      <div class="jumbotron">
        <h1 class="display-4">Hey</h1>
        <p class="lead">Did you forget your password? No Biggy. You can reset it below</p>
        <hr class="my-4">
        {% if smessage %}
          <div class="alert alert-success">
            {{ smessage }}
          </div>
        {% endif %}
        {% if umessage %}
          <div class="alert alert-danger">
            {{ umessage }}
          </div>
        {% endif %}
        <form action="/forgot_password" method="post">
            <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" name="name"  placeholder="Enter email">
            </div>
            <button type="submit" name="submit" class="btn btn-primary">Submit</button>
        </form
     </div>

{% endblock %}
